.form-section{
    min-height: 80vh;
    @include flex(center, center, row);
    background: rgb(245, 242, 242);
    form{
        background: rgb(238, 237, 237);
        margin: 3rem 0;
        padding: 3rem 10rem;
        box-shadow: 0px 10px 10px rgba($color: #000000, $alpha: 0.2), 0px 20px 40px rgba($color: #000000, $alpha: 0.2);
        @include flex(center, center, column);
        border-radius: 2rem;
        input, textarea{
            margin: 1rem;
            padding: 0px 1rem;
            border-radius: 1rem;
            &:focus{
                outline: 2px solid black;
            }
        }
        textarea{
            font-family: "Montserrat", sans-serif;
            resize: none;
        }
        button{
            width: 100%;
            padding: 2rem;
            background: $background-color;
            color:white;
            border-radius: 2rem;
            &:focus{
                background:rgb(51, 105, 107);
            }
        }
    }
}