.projects {
  background: rgb(245, 242, 242);
}
.project-body {
  width: 90%;
  margin: auto;
  min-height: 80vh;
  @include flex(space-between, center, row);
  text-align: center;
  flex-wrap: wrap;
  h2 {
    margin: 5rem;
  }
}
.travelly,
.elena-joy {
  flex: 1 1 10rem;
  img {
    width: 470px;
  }
}
